.todo-bottom {
  height: 40px;
  line-height: 40px;
  padding-left: 6px;
  margin-top: 5px;
}

.todo-bottom label {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.todo-bottom label input {
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin-right: 5px;
}

.todo-bottom button {
  float: right;
  margin-top: 5px;
}